#shop-section > a {
  position: relative;
  z-index: -5;
}

/*! CARD */

.outer-card {
  position: relative;
  z-index: -5;
  transition: transform 0.6s;
  cursor: pointer;
  border: 0px solid rgba(56, 56, 56, 0);
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20em;
  height: 26em;
  background: rgb(7, 7, 7);
  cursor: pointer;
  border: none;
  border-bottom: inherit;
  overflow: hidden;
  transition: transform 0.6s;
  z-index: -1;
  justify-content: flex-end;
  align-items: center;
}

.outer-card:hover {
  transform: translateY(-0.5em);
}

.outer-card:hover > .card > .card-bottom {
  opacity: 1;
}

/*+ IMAGE */
.card-image {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  transition: transform 0.6s;
  filter: brightness(80%);
}

.outer-card:hover > .card > .card-image {
  transform: scale(1.1);
}

/*+ CARD INFO PANEL */

.card-bottom:hover > .card-image {
  transform: scale(1.1);
}

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-self: center;
  position: relative;
  background: rgb(0, 0, 0);
  bottom: 0;
  left: 0;
  margin: 0;
  width: 20em;
  height: 11em;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  justify-content: center;
}

.card-text {
  padding: 1em 2em 1em 2em;
  font-size: 1rem;
  word-wrap: break-word;
  text-align: left;
  align-self: center;
}

.card-text > .item-title {
  font-size: 1.1rem;
  font-weight: 800;
  padding-bottom: 0.1em;
}

.card-text > .item-brand {
  font-size: 0.9rem;
  padding-bottom: 0.7em;
}

.card-text > .item-price {
  font-size: 0.9rem;
  padding-bottom: 0.5em;
}

.card-text > .item-description {
  font-size: 0.7rem;
  color: rgb(214, 214, 214);
}

/*+ CARD UNDER */

.card-under {
  padding: 1em 0 1em 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgb(0, 0, 0);
  border: none;
  border-top: none;
  transition: background-color 0.5s, border-top 1s;
}

.outer-card:hover > .card-under {
  background-color: rgb(204, 204, 204);
  color: black;
}

.card-under > .item-price {
  opacity: 0.8;
}
