/*! CART */

#cart-outer {
  position: fixed;
  transform: translateX(-7em) translateY(-1em);
  width: 15em;
  height: 25em;
  visibility: hidden;
}

#cart-outer:after {
  bottom: 100%;
  left: 65%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

#cart {
  position: fixed;
  width: 15em;
  height: 0;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0.25em;
  transition: height 0.6s;
}

/*+ cart header */
#cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;
  margin: 0 1em 0 1em;
  border-bottom: 1px solid black;
  color: black;
  font-size: 0.95rem;
}

#cart-close {
  cursor: pointer;
}

#total {
  font-family: Helvetica;
}

#cart-sub-total {
  font-size: 0.7em;
  margin-right: 1em;
  color: rgb(39, 39, 39);
}

/*+ CART LIST */

#cart-scroll {
  overflow-y: scroll;
  flex-grow: inherit;
  padding-bottom: 1em;
  height: 17em;
}

#cart-list > a {
  color: black;
}

#cart-list {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.6rem;
}

.cart-item {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
}

.cart-item:hover {
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
}

.cart-item-image {
  width: 6em;
  height: 6em;
  object-fit: cover;
}

.cart-item > .item-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding: 1em;
}

.cart-item > .item-details > .item-name {
  display: block;
  font-size: 0.8rem;
}

.cart-item > .item-details .item-text {
  padding-right: 1em;
}

@media only screen and (max-width: 600px) {
  #cart-outer {
    position: fixed;
    left: 47%;
    top: 20%;
    visibility: hidden;
  }

  #cart-outer:after {
    visibility: hidden;
  }
}

/*+ CART BOTTOM */

#cart-bottom {
  display: flex;
  border-top: 1px solid black;
  align-items: center;
  justify-content: center;
  padding: 1em 0 1em 0;
  margin: 0 1em 0 1em;
}

#checkout-button {
  display: block;
  transition: 0.5s;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.5em 2em;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.1rem;
  font-family: futura;
  width: 12em;
  position: relative;
  cursor: pointer;
}
