#filter-container {
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: center;
  top: 35em;
}

#filter-box {
  display: flex;
  justify-content: center;
  margin: 0 12em 0 12em;
  border-bottom: 1px solid rgba(56, 56, 56, 0.603);
}

select {
  color: rgb(255, 255, 255) !important;
  text-align: center !important;
  font-family: helvetica;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 3em;

  width: 9em;
  font-size: 1rem;
  margin: 0 2em 0 2em;
  cursor: pointer;
}

select:focus {
  outline: none;
}

/* #color-form,
#type-form,
#sort-form {
  width: 8em;
} */
