/*! ITEM PAGE */

#item-page,
#item-inner {
  z-index: -5;
  position: relative;
}

#item-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#item-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0em;
  background: black;
  height: fit-content;
  width: inherit;
  padding: 12em 10em 15em 10em;
}

#item-inner > .item-image {
  position: absolute;
  width: 45vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  object-position: top;
  transition: transform 0.6s;
  filter: brightness(70%);
  z-index: -2;
  animation: fade-in 1.3s forwards;
}

#item-gradient {
  position: absolute;
  width: 45vw;
  height: 100vh;
  background: linear-gradient(transparent, 95%, black),
    linear-gradient(to right, transparent, 80%, black);
  z-index: -1;
}

#item-inner > .item-details {
  grid-column: 2/-1;
}

#item-inner > .item-details > .item-title {
  font-size: 2rem;
}

#item-inner > .item-details > .item-price {
  margin-bottom: 1em;
}

#item-inner > .item-details > .item-description {
  margin-bottom: 1em;
  font-size: 0.9rem;
  font-family: Helvetica;
}

/*> SIZE */

#size-form {
  display: flex;
  align-items: center;

  border-top: 1px solid rgba(56, 56, 56, 0.603);
  margin-top: 2em;
  padding-top: 1em;
}

#quantity-input {
  padding: 0em 1em 0 1em;
  background: transparent;
  border: 0px solid rgba(124, 124, 124, 0.281);
  border-radius: 10px;
  width: 3.3em;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input,
select,
textarea {
  color: white;
  text-align: left;
  font-family: helvetica;
}

input:focus {
  background: rgba(0, 0, 0, 0.144);
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-family: helvetica;
}

textarea:focus,
input:focus {
  outline: none;
}

/*@ ARROWS */

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-0.35em);
  cursor: pointer;
}

.arrow-up {
  transform: translateY(0.5em);
}

/*@ SUBMIT */

#size-form > .submit-button {
  display: flex;
  transition: 0.25s;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 12em;
  height: 2em;
  margin: 0em 2em 0em 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
}

/*// MEDIA QUERY */

@media only screen and (max-width: 780px) {
  #item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
