#search {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -5;
}

#search-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  z-index: -1;
  justify-content: center;
  background: rgb(0, 0, 0);
  height: fit-content;
  width: 100vw;
  padding: 0 10em;
}

#search-hero {
  position: relative;
  width: 100vw;
  height: 20em;
  object-fit: cover;
  display: block;
  z-index: -2;
  object-position: middle;
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

/*+ INPUT BOX */

#search-box {
  padding: 0em 1em 0 1em;
  background: rgba(32, 32, 32, 0.25);
  border: 1px solid rgba(124, 124, 124, 0.281);
  border-radius: 10px;
  height: 3em;
  width: 80%;
  margin: 0.75em;
}

input,
select,
textarea {
  color: rgb(109, 109, 109);
  text-align: left;
  font-family: helvetica;
}

input:focus {
  background: rgba(0, 0, 0, 0.144);
}

input::placeholder {
  color: rgb(126, 126, 126) !important;
  font-family: helvetica;
}

textarea:focus,
input:focus {
  outline: none;
}

#current-search {
  text-align: center;
  margin: 1em 0 2em 0;
  font-size: 1.2rem;
}
