/*! SHOP */

@font-face {
  font-family: light;
  src: url(../fonts/Futura-Light-Regular.otf);
}

#shop,
#shop-section {
  z-index: -5;
  position: relative;
}

#shop-gradient {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 40em;
  background-image: linear-gradient(transparent, rgb(0, 0, 0));
  z-index: -1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#shop-title {
  position: absolute;
  text-align: center;
  letter-spacing: 0.3em;
  font-family: light;
  font-weight: 100;
  text-indent: 0.3em;
  font-size: 3rem;
}

#shop-hero {
  position: relative;
  width: 100vw;
  height: 40em;
  object-fit: cover;
  display: block;
  z-index: -2;
  object-position: top;
}

#shop-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  justify-content: center;
  row-gap: 5em;
  column-gap: 7em;
  background: rgb(0, 0, 0);
  height: fit-content;
  width: 100vw;
  padding: 5em 6em 5em 6em;
}
