* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: futura;
  src: url(../fonts/FuturaTS-Regular.ttf);
}

@font-face {
  font-family: viola;
  src: url(../fonts/VIOLA.ttf);
}

html {
  background-color: #282c34;
  color: white;
  font-family: futura, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*! Nav */

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0));
  transition: background 0.4s;
}

.nav:hover {
  background-color: black;
}

#nav-left {
  display: flex;
  padding-left: 4em;
  font-size: 0.7rem;
  align-items: center;
}

#nav-location {
  display: flex;
  align-items: center;
}

.nav-lang {
  transform: translateY(-1px);
}

.nav-text {
  padding: 1em 1em 1em 0.5em;
}

.nav-center {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1em;
}

.logo {
  cursor: pointer;
  font-family: viola;
}

ul.nav-links {
  justify-content: center;
  text-align: center;
  justify-self: center;
  display: flex;
  padding-top: 0.8em;
  font-size: 0.8rem;
}

.nav-page {
  padding: 0 1.3em 0 1.3em;
}

/*? left nav */

#nav-right {
  display: flex;
  grid-column: 3/-1;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding-right: 4em;
}

/*+ cart icon */

.cart-icon {
  display: flex;
  grid-column: 3/-1;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
  position: relative;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  background: red;
  color: white;
  font-size: 0.5rem;
  text-align: center;
  top: 1.8em;
  right: 1.4em;
}

.badge-text {
  box-sizing: border-box;
  display: block;
  margin: 1px 0 0 1px;
}

/*! CART */

#cart-outer {
  position: fixed;
  transform: translateX(-7em) translateY(-1em);
  width: 15em;
  height: 25em;
  visibility: hidden;
}

#cart-outer:after {
  bottom: 100%;
  left: 65%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

#cart {
  position: fixed;
  width: 15em;
  height: 25em;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: scroll;
}

/*+ cart header */
#cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;
  margin: 0 1em 0 1em;
  border-bottom: 1px solid black;
  color: black;
  font-size: 0.9rem;
}

/*+ cart list */

#cart-list {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.6rem;
}

.cart-item {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1.5em;
  cursor: pointer;
}

.cart-item:hover {
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
}

.item-image {
  width: 6em;
  height: 6em;
  object-fit: cover;
}

.item-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding: 1em;
}

.item-name {
  display: block;
  font-size: 0.8rem;
}

.item-text {
  padding-right: 1em;
}

/*? Home */

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-position: top;
}

#hero-video {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.hero-button {
  display: block;
  transition: 0.5s;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.5em 2em;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-family: futura;
  margin: 1em;
  width: 12em;
}

.hero-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.hero-button-link {
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .hero-button-link {
    flex-direction: column;
  }

  #nav-left {
    flex-direction: column;
  }
}
